body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

#content{
    display: flex;
}

#orderMenu{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-right: 28%;
}

#orderImg{
    width: 100%;
}

#orderImg img{
    height: 280px;
    min-width: 100%;
    object-fit: cover;    
}

#orderRestaurant{
    width: calc(100% - 80px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#orderRestaurant h2{
    margin: 0;
}

#bewertung p{
    margin: 0;
}

#bewertung{
    display: flex;
    gap: 12px;    
    align-items: center;
    color: #FF7F01;
}

#bewertung img{
    height: 40px;
}

#orderList{
    width: calc(100% - 80px);
    display: flex;
    gap: 30px;
    justify-content: flex-start;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.048);
    white-space: nowrap;
    overflow-x: scroll;
}

#orderList::-webkit-scrollbar{
    display: none;
}

#orderList img{
    width: 32px;
    height:32px;
    padding-left: 16px;
}

#orderList p{
    font-size: 16px;
}

#orderList p:hover{
    cursor: pointer;
    text-decoration: double;
}

.gericht{
    color: #FF7F01;
}

#orderMeals{
    width: calc(100% - 80px);
    background-color: rgba(0, 0, 0, 0.048);    
}

#orderMeals h3{
    padding-left: 16px;
}

#gericht{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap:24px;
    align-items: center;
    
}

.menuCards{
    width: calc(100% - 80px);
    margin: 0 40px;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.567);
}

.gerichtLeft{
    padding-left: 16px;
}

.gerichtRight img{
    background-color: rgba(0, 0, 0, 0.308);
    border-bottom-left-radius: 8px;
}

.gerichtRight img:hover{
    cursor: pointer;
}




/* hier WarenkorbStyle */

#warenkorb{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 28%;
    padding-top: 100px;
    border-left: 2px solid black;
    box-shadow: 0 0 4px black;
    background-color: white;
}

#warenkorbHeader{
    border-bottom: 1px solid rgba(0, 0, 0, 0.055);
}

#leererKorb{
    margin-top: 40px;
    color: rgba(0, 0, 0, 0.192);
    border-bottom: 1px solid rgba(0, 0, 0, 0.055);
}

.basket{
    border-bottom: 1px solid rgba(0, 0, 0, 0.062);
    padding: 16px 0;
}

.vollerKorb{
    display: flex;
    justify-content: space-between;    
    align-items: center;
    padding: 0 16px;    
    
}

.vollerKorb img{
    width: 24px;
}

.vollerKorb img:hover{
    cursor: pointer;
}

.plusMinus{
    display: flex;
    gap:4px
}

.mini-btn{
    width: 20px;
    height: 20px;
    background-color: #FF7F01;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mini-btn:hover{
    cursor: pointer;
}

.mini-btn img {
    width:12px;
}

.priceAndDelete{
    display: flex;
    gap:8px;
}

.imgNotation{
    padding-left: 8px;
}

.notation{
    display: flex;
    padding: 0 16px;
    justify-content: space-evenly;
    align-items: center;
}

.notation textarea{
    resize: none;
    width: 70%;
    height: 50px;
    
}

.notationSave{
    display: flex;
    gap: 4px;
}

.notefield{
    font-size: 12px;
    color: rgba(0, 0, 0, 0.705);
    width: 70%;
    min-height: 16px; 
    text-align: start;
    padding-left: 12%;
    
}

.notefield p{
    justify-content: center;
    align-items: center;
}

.annotation{
    display: flex;
    justify-content: center;
    align-items: center;
}

.iconsNote img{
    width: 20px;
}

.iconsNote img:hover{
    cursor: pointer;
}










#orderMin{
    font-size: 12px;
}

#warenkorbBestellen button{
    border: none;
    background-color: #FF7F01;
    color: white;
    width: calc(100% - 30%);
    height: 54px;

}


.d-none{
    visibility: hidden;
}
