#footer{
    height: 100px;
    background-color: #EFEDEA;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 4%;
}

#copyright{
    display: flex;
    align-items: center;
}

#footerLogo img{
    width: 60px;
}

a{
    text-decoration: none;
    color: black;
    font-size: 12px;
}

a:hover{
    color: #FF7F01;
}

@media(max-width: 992px){
    #copyright{
        font-size: 12px;
    }
}

@media(max-width: 768px){
    #footerLogo img{
        width: 45px;
    }

    #copyright{
        flex-direction: column;
    }

    #impressum{
        display: flex;
        flex-direction: column;
        gap: 4px;
    }

    #impressum span{
        display: none;
    }
}

@media(max-width: 460px){
    #footerLogo{
        display: none;
    }     
}